name: Auto Release Main

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get current time
        id: get_time
        run: echo "TIME_TAG=v$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.PAT }}
          tag: ${{ env.TIME_TAG }}  
          name: "Release ${{ env.TIME_TAG }}" 
          body: "更新后自动生成的数据，存档使用"
          draft: false
          prerelease: falsee